@use '../../abstracts/mixins' as *;

.offcanvas {
    z-index: 9999;
    min-height: 100vh;

    &-header {
        padding: 12px;
        display: flex;
        align-items: center;

        .logo-div {
            width: 110px;
            height: 44px;

            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }

        .btn-group {
            margin-left: auto;
        }

    }

    &-header-searchbar-div {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid #DADBDD;
        background: #F9F9F9;
        margin-left: 10px;
        margin-right: 10px;

        @include mq(tablet-portrait-down) {
            display: none;
        }

        input {
            background-color: transparent;
            color: #B4B4B4;
            font-size: 14px;
            flex-grow: 1;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .search-icon {
            padding-left: 10px;
            border-left: 1px solid #B4B4B4;
            width: 32px;
            height: 32px;

            img {
                width: 32px;
                height: 32px;
            }

            svg {
                width: 32px;
                height: 32px;
                fill: #000;
            }
        }
    }

    &-nav-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        margin: 0 10px;

        .nav-link {
            padding: 12px;
            color: #5A6268;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &-body {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        .accordion {
            padding: 16px;
            border: none;

            &-item {
                border: none;

                .accordion-header {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 12px;
                    width: 100%;

                    svg{
                        width: 24px;
                        height: 24px;
                    }

                    span {
                        color: #010203;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    .arrow-icon {
                        margin-left: auto;
                    }
                }

                .accordion-collapse {

                    .accordion-body {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;
                        padding: 0;

                        button {
                            color: #010203;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            text-transform: capitalize;
                            padding: 12px;
                            text-align: left;
                        }
                    }


                }

                .accordion-header:not(.collapsed) .arrow-icon {
                    transform: rotate(90deg);
                }
            }
        }
    }

}