@use '../abstracts/mixins' as *;

$primary-color: #007bff;
$overlay-bg: rgba(0, 0, 0, 0.5);

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 16px 100px;
  position: relative;
  z-index: 1000;

  @include mq(tablet-landscape-up) {
    padding: 16px 80px;
  }

  @include mq(tablet-portrait-up) {
    padding: 16px 60px;
  }

  @include mq(phone-only) {
    padding: 16px 40px;
  }

  .logo {
    width: 110px;
    height: 44px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .products-menu-button {
    padding: 10px 12px;
    border-radius: 6px;
    background: #010203;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: fit-content;

    @include mq(desktop-compact) {
      display: none;
    }

    span {
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .header-searchbar-div {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #DADBDD;
    background: #F9F9F9;

    @include mq(tablet-portrait-up) {
      display: none;
    }

    input {
      background-color: transparent;
      color: #B4B4B4;
      font-size: 14px;
      flex-grow: 1;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .search-icon {
      padding-left: 10px;
      border-left: 1px solid #B4B4B4;
      width: 32px;
      height: 32px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 16px;

    @include mq(desktop-compact) {
      display: none;
    }

    .nav-links {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .nav-link {
        padding: 12px;
        color: #5A6268;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

  }

  .btn-group {
    min-width: fit-content;

    span {
      color: #5A5F68;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .flag-img {
      img {
        min-width: 21px;
        height: 15px;
      }
    }

    .dropdown-toggle {
      padding: 0;
      display: flex;
      align-items: center;
      gap: 10px;

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      .dropdown-item {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 21px;
          height: 15px;
        }

      }
    }
  }

  .mega-menu {
    position: absolute;
    top: 100%;
    left: 15%;
    background: #fff;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
    }

    .level-1 {
      height: 460px;
      overflow-y: scroll;
      scrollbar-width: none;
    }

    .level-2 {
      height: 460px;

      .overflow-div {
        overflow-y: scroll;
        height: 460px;
        scrollbar-width: none;

      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      position: static; // DƏYİŞDİRİLDİ: "relative" yerinə "static" etdik ki, "top: 0" yuxarı elementə (mega-menu) baxsın

      &.has-submenu:hover>.submenu {
        display: block;
      }
    }

    .has-submenu {
      padding: 0 0px;

      &-menu-item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 16px;

        &:hover {
          border-radius: 6px;
          background: #F5F5F5;
        }

        span {
          color: #010203;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: capitalize;
        }

        .arrow-icon {
          margin-left: auto;
        }
      }

      .submenu {
        position: absolute;
        top: 0;
        left: 100%;
        background: #fff;
        display: none;
        border-left: 1px solid #eee;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.05);

        .has-card {
          min-width: 350px;

          &:hover {
            .product-card {
              display: block;
              top: -16px;
            }
          }

          &-menu-item {
            display: flex;
            align-items: center;
            gap: 10px;
            min-width: 300px;
            padding: 16px;

            &:hover {
              border-radius: 6px;
              background: #F5F5F5;
            }

            span {
              color: #010203;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              text-transform: capitalize;
              text-wrap: nowrap;
            }

            .arrow-icon {
              margin-left: auto;
            }
          }


          .product-card {
            position: absolute;
            top: 0; // DƏYİŞDİRİLDİ: Artıq submenu-nun ən yuxarı nöqtəsinə bərabərdir
            left: 100%; // DƏYİŞDİRİLDİ: Tam olaraq sağa birləşir
            padding: 15px;
            width: fit-content;
            background: #fff;
            display: none;
            border-left: 1px solid #eee;
            text-align: center;
            min-height: 100%;
            margin-top: 16px;

          }
        }
      }
    }
  }

  .offcanvas-menu-button {
    padding: 10px 12px;
    border-radius: 6px;
    background: #010203;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media (min-width: 1200px) {
      display: none;
    }

    span {
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-bg;
  display: none;
  z-index: 9;
}

.is-active {
  display: block !important;
}

.is-sticky {
  backdrop-filter: blur(104px);
  -webkit-backdrop-filter: blur(104px);
  background: rgba(255, 255, 255, 0.78);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  .black-icon {
    display: inline;
    width: 32px;
    height: 32px;
  }

  .white-icon {
    display: none;
  }

  .logo-div-blured {
    display: block;
    width: 106px;
    height: 32px;
    padding: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .logo-div {
    display: none;
  }

  nav {
    a {
      color: #000;
    }
  }

  .header-actions {
    .btn-group {
      .dropdown-toggle {
        color: #000;
      }
    }

  }

  .mega-menu {
    z-index: 9999;
  }

}